## The Plan
* Gör 2 listor
    - Pika = 1
    - Pichu = 0
* Hitta medel punkt för Pika och pichu
* Mata in medelpunkterna i euclid
    - Euclid ny punkt Pika = Pikatest
    - Euclid ny punkt Pichu = Pichutest
        if pika distance < pichudistance:
            print This is Pika!
        else:
            print This is pichu

### 1. Import modules

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 2. Load Data

In [81]:
datapoints = pd.read_csv("datapoints.txt")
datapoints.head(), datapoints.columns

(   (width (cm)   height (cm)   label (0-pichu   1-pikachu))
 0    21.959384     31.239567                0           NaN
 1    23.635916     36.468215                1           NaN
 2    17.714056     31.441704                0           NaN
 3    21.780200     33.213398                1           NaN
 4    25.206306     36.558816                1           NaN,
 Index(['(width (cm)', ' height (cm)', ' label (0-pichu', ' 1-pikachu))'], dtype='object'))

In [93]:
# Clean up the columns and we only need one  column for 0-1 values. 
datapoints_new = datapoints.drop([" 1-pikachu))"], axis=1)
datapoints_new.rename(columns={"(width (cm)": "Width", " height (cm)": "Height", " label (0-pichu": "Pika1/Pichu0"}, inplace= True)
datapoints_new

         Width     Height  Pika1/Pichu0
0    21.959384  31.239567             0
1    23.635916  36.468215             1
2    17.714056  31.441704             0
3    21.780200  33.213398             1
4    25.206306  36.558816             1
..         ...        ...           ...
145  18.990690  32.387963             0
146  23.542000  32.475193             0
147  19.640603  30.291557             0
148  21.989954  33.645903             1
149  22.302103  32.732379             0

[150 rows x 3 columns]

## Prepare Data

In [108]:
# Only Pika
pikachu = datapoints_new[datapoints_new["Pika1/Pichu0"] == 1]
# Calc coordinate for mean() Pikachu Position
xpika = pikachu['Width'].mean()
ypika = pikachu['Height'].mean() 


# Only pichu
pichu = datapoints_new[datapoints_new["Pika1/Pichu0"] == 0]
# Calc coordinate for mean() Pikachu Position
xpichu = pikachu['Width'].mean()
ypichu = pikachu['Height'].mean()

## Algoritm using the Euclidian distance

In [112]:
## Create a simple algo that will check input, to see if its closer to Pika or Pichu using Euclid formula.

def checkpokemon(x, y):

35.24823604620258

24.091909773423925