### 1. Import modules

In [39]:
import pandas as pd

### 2. Load Data

In [40]:
df = pd.read_csv("datapoints.txt") # cleaned the column labels and removed a  unneccesary "," and whitespace
df.head()

   width(cm)  height(cm)  0_pichu-1_pikachu
0  21.959384   31.239567                  0
1  23.635916   36.468215                  1
2  17.714056   31.441704                  0
3  21.780200   33.213398                  1
4  25.206306   36.558816                  1

### 3. Clean Data

In [41]:
# Drops NaN column
# df = df.dropna(axis=1) , fixed in txt file.

# Rename column
df = df.rename(columns={"0_pichu-1_pikachu": "Pichu0-Pika1"})
df.head()

   width(cm)  height(cm)  Pichu0-Pika1
0  21.959384   31.239567             0
1  23.635916   36.468215             1
2  17.714056   31.441704             0
3  21.780200   33.213398             1
4  25.206306   36.558816             1

In [42]:
# Check data types
df.info(), df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   width(cm)     150 non-null    float64
 1   height(cm)    150 non-null    float64
 2   Pichu0-Pika1  150 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 3.6 KB

(None,
         width(cm)  height(cm)  Pichu0-Pika1
 count  150.000000  150.000000    150.000000
 mean    22.062142   33.598281      0.500000
 std      2.497307    2.159651      0.501675
 min     16.866105   28.888134      0.000000
 25%     19.921975   32.005462      0.000000
 50%     22.040754   33.315877      0.500000
 75%     24.316733   35.320895      1.000000
 max     27.194384   40.147170      1.000000)

In [43]:
# display no. of samples on each class
df[]

SyntaxError: invalid syntax (911498137.py, line 2)