
<a href="https://colab.research.google.com/github/kokchun/Python-course-AI22/blob/main/Exercises/09-dictionary-exercises.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; to see hints and answers.

# dictionary exercises

---
These are introductory exercises in Python with focus in **dictionary**.

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable and function names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your answers in a neat way using <b>f-strings</b>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Curriculum (*)

Create a dictionary containing all the courses that you will study in this program, with the course names as **keys** and the amount of points as **value**. Then calculate the number of points that you will study in total. (*)

<details>

<summary>Answer</summary>

Look at your course program curriculum

</details>

In [14]:
courses = {
    "Databaser": 25,
    "datadehandling": 25,
    "Djup Maskininlärning": 40,
    "Examensarbete": 15,
    "Introduktionskurs till AI": 5,
    "LIA 1": 40,
    "LIA 3": 70,
    "Maskininlärning": 45,
    "Praktisk maskininlärning": 35,
    "Programmering med Python": 40,
    "Projektmetodik": 10,
    "Statistiska metoder": 30,
    "Linjär algebra": 20,
}


for key, value in courses.items() :
    print (key, ":", value)

total_points = sum(courses.values()) # sum(), d.values()
print(f"\nTotal points: {total_points}")

Databaser : 25
datadehandling : 25
Djup Maskininlärning : 40
Examensarbete : 15
Introduktionskurs till AI : 5
LIA 1 : 40
LIA 3 : 70
Maskininlärning : 45
Praktisk maskininlärning : 35
Programmering med Python : 40
Projektmetodik : 10
Statistiska metoder : 30
Linjär algebra : 20

Total points: 400

---
## 2. Dice simulation (*)

Simulate 1000000 dice rolls and save the number of ones, twos, ..., sixes in a dictionary. Then print them out in the terminal. (*)

<details>

<summary>Answer</summary>

```
1: 166481
2: 166844
3: 166154
4: 167400
5: 167260
6: 165861
```

</details>

In [31]:
import random
import pandas as pd


# for loop
#rolls = []
#for x in range(1, 1000000):
#    x = random.randint(1, 6)
#    rolls.append(x)


# list comprehension
rolls = [random.randint(1, 6) for x in range(1, 1000001)]

# create dict keys.
count_nr_dice = {
    "Ones": rolls.count(1),
    "Twos": rolls.count(2),
    "Threes": rolls.count(3),
    "Fours": rolls.count(4),
    "Fives": rolls.count(5),
    "Sixes": rolls.count(6)
}
sum(count_nr_dice.values())

data = pd.DataFrame(count_nr_dice, index=["Times Landed"])
data["Total Dice Tossed"] = sum(count_nr_dice.values())
data

,Ones,Twos,Threes,Fours,Fives,Sixes,Total Dice Tossed
Times Landed,165896,166791,166651,166905,167302,166455,1000000

---
## 3. Pokemon list (*)

Read in the file pokemon_list.txt in Python. Create a variable with name pokedex with the key:value **"pokemon":"type, index"**. For example when searching for the keys "Gengar" and "Pikachu": (*)

```python

print(pokedex["Gengar"])
print(pokedex["Pikachu"])

Spöke/Gift, 94
Elektrisk, 25
```

<details>

<summary>Answer</summary>

```
{'Bulbasaur': 'Gräs/Gift, 1',
 'Ivysaur': 'Gräs/Gift, 2',
 'Venusaur': 'Gräs/Gift, 3',
 'Charmander': 'Eld, 4',
 'Charmeleon': 'Eld, 5',
 'Charizard': 'Eld/Flygande, 6',
 'Squirtle': 'Vatten, 7',
 'Wartortle': 'Vatten, 8',
 'Blastoise': 'Vatten, 9',
 ...
}
```

</details>

In [35]:

import pandas as pd

pokemon = pd.read_csv("pokemon_list.txt", sep=" ", names=["Index", "Pokemon", "Type"])
pokemon

def pokemoninfo(name_of_pokemon):
    find = pokemon[pokemon["Pokemon"].str.contains(name_of_pokemon)]
    return find

pokemoninfo("Pikachu")

    Index  Pokemon       Type
24     25  Pikachu  Elektrisk

---
## 4. Morse code (**)

Read in the file morse.txt, save it in a dictionary and create a function that lets the user input a message to get it translated to morse code. For example  (**)

```python

print(morse["SOS"])
print(morse["POKEMON"])

...---...
.------.-.------.
```

---

Kokchun Giang

[LinkedIn][linkedIn_kokchun]

[GitHub portfolio][github_portfolio]

[linkedIn_kokchun]: https://www.linkedin.com/in/kokchungiang/
[github_portfolio]: https://github.com/kokchun/Portfolio-Kokchun-Giang

---